$rank-color: #8B0000;
$img-width: 200px;
$img-rank-width: 32px;
$text-color-name: #2F4F4F;

@import './blocks/person';

html {
  font-family: Arial, sans-serif;;
}

body {
  margin: 0;
  padding: 0;
}

.people {
  display: flex;
  flex-wrap: wrap;

  gap: 20px 10px;
  padding: 20px 25px;
  margin: 0;
}


