@import './utils/variables';
@import './blocks/person';

html {
  font-family: Arial, sans-serif;;
}

body {
  margin: 0;
  padding: 0;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, $person-width);
  justify-content: center;
  justify-items: center;

  gap: 20px 10px;
  padding: 20px 25px;
  margin: 0;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, $person-width);
  }
}


